{% extends 'my_app/base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new album</title>
</head>
<body>
    <h2>New album</h2>
    <br><br>
    <form action="" method="POST">
        {% csrf_token %}
        Artist name : <input type="text" name="artist_name">
        Artist last name  : <input type="text" name="l_name">
        Album name : <input type="text" name="album_name">
        rel date : <input type="date" name="date">
        rate : <input type="number" name="num_stars">

        <input type="submit"  value="click it">


    </form>



</body>
</html>



{% endblock %}