{% extends 'my_app/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist info</title>
</head>
<body>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
        }
        </style>
    Artist: {{obj.first_name}} {{obj.last_name}}
    <br>
    Instrument : {{obj.tool}}
    <hr>
    <a href="{% url 'edit_artist_page' pelkas_melkas=obj.id %}">Edit this artist , goes to -> edit_artist/ingeter</a>
    <hr>
    <br>
    <table>
        <tr>
        <th>Album</th>
        <th>Release Year</th>
        <th>Rating</th>
        </tr>
        <tr>
        {% for x in obj.album_set.all %}
            <td>{{x.name}}</td>
            <td>{{x.rel_date}}</td>
            <td>{{x.num_stars}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>



{% endblock %}