{% extends 'my_app/base.html' %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musician info</title>
</head>
<br>
<body>
    count of name -> {{count_of_name}}
    namos - > {{namos}}<br><br><br>
    {% if count_of_name == 1 %}
        Name : {{obj.first_name}}<br></br>
        Surname: {{obj.last_name}}<br>Albums<br><br>
    </body>
    </html>
        {% for x in obj.album_set.all %}
        {{x.name}}<br>
        {% endfor %}
    {% else %}
        Name : {{obj.first_name}}
        <br>
        Surname: {{obj.last_name}}
        <br>
        Number of album: {{obj.album_set.count}}
        {% if obj.album_set.count > 0 %}
            Albums<br>
            {% for x in obj.album_set.all %}
                {{x.name}}
            {% endfor %}
        {% else %}
            <p>There is no album to be displayed.</p>
        {% endif %}




    {% endif %}

{% endblock %}

