{% extends 'my_app/base.html' %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musician info</title>
</head>
<br>
<body>
    <style>
        table,
        th,
        td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      </style>
    count of name -> {{count_of_name}}
    namos - > {{namos}}<br><br><br>
    {% if count_of_name == 1 %}
        <a href="#" class="btn btn-primary btn-sm">edit</a>
        <hr>
        Name : {{obj.first_name}}<br></br>
        Surname: {{obj.last_name}}<br>Albums<br><br>
        <table class="table table-bordered">
            <tr>
                <th>Album name</th>
                <th>Release Date</th>
                <th>Rating</th>
            </tr>
            {% for x in obj.album_set.all %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.rel_date}}</td>
                    <td>{{x.num_stars}}</td>
                </tr>
            {% endfor %}


        </table>


    {% else %}
    
        Name : {{obj.first_name}}
        <br>
        Surname: {{obj.last_name}}
        <br>
        Number of album: {{obj.album_set.count}}
        {% if obj.album_set.count > 0 %}
        
            <table>
                <tr>
                    <th>Album</th>
                    <th>Rel date</th>
                    <th>Ratings</th>
                </tr>
                {% for x in obj.album_set.all %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.rel_date}}</td>
                    <td>{{x.num_stars}}</td>
                </tr>
            {% endfor %}


            </table>

        {% else %}
            <p>There is no album to be displayed.</p>
        {% endif %}




    {% endif %}
</body>
</html>
{% endblock %}

