{% extends 'my_app/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Album</title>
</head>
<body>
    <hr>
    <form method="POST">
        {{editto_form.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit" value="update" class="btn btn-info btn-sm">
    </form> 
    <br>
    <a href="{% url 'delete_album_page' album_no=al_no %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">DELETE</a>

</body>
</html>
{% endblock %}