{% extends 'my_app/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artist</title>
</head>
<body>
    {{pek}}
    <hr>
    <form method="POST">
        {{edit_form.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit" value="updateox" class="btn btn-info btn-sm">
    </form>
    <a href="{% url 'delete_artist_page' singer_id=pek %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">DELETE</a></body>
</html>


{% endblock %}